Implementations MUST accept SHA2 AlgorithmIdentifiers with absent parameters

See #98 
We have an end entity certificate that is doesn't have a "NULL" value for the parameters of the AlgorithmIdentifier--it is absent. Reading RFC 5754, it looks like this scenario needs to be covered by implementations:
> The AlgorithmIdentifier parameters field is OPTIONAL.
   Implementations MUST accept SHA2 AlgorithmIdentifiers with absent
   parameters.  Implementations MUST accept SHA2 AlgorithmIdentifiers
   with NULL parameters.  Implementations MUST generate SHA2
   AlgorithmIdentifiers with absent parameters.

This is an easy enough fix to implement since we just need to add a few more `.der` files to cover the case when "NULL" is absent, like so:
```
# rsaEncryption
OBJECT_IDENTIFIER { 1.2.840.113549.1.1.1 }
```
and then run ascii2der on that.

Without this change, we see an `UnknownIssuer` error which bubbles up from the `UnsupportedSignatureAlgorithm` error.

@codeman9 Thanks for the report.

> Reading RFC 5754

RFC 5754 is specific to CMS. It isn't directly relevant X.509 certificates. RFC 4055 is the relevant specification that is directly referenced by RFC 5280 and it says: "In this case, the rsaEncryption object identifier MUST be used in the algorithm field within the subject public key information, and the parameters field MUST contain NULL."

OK, I think I quoted the wrong section. RFC 4055 says:

> When any of these four object identifiers appears within an
   AlgorithmIdentifier, the parameters MUST be NULL.

This is what webpki enforces.

>  Implementations MUST accept the parameters being absent as well as present.

webpki doesn't conform to this requirement. However, I wonder if it is really important to conform to this requirement because it only matters when the certificate is non-compliant. AFAICT most/all commercial CAs are encoding the NULL because we've not had previous bug reports. In general we try to avoid supporting multiple syntaxes for the same thing in webpki and in fact we're hoping that other software (particularly web browsers) follows our example here.

Are you able to change the CA software of the certificate that generated the broken certificate and replace the broken certificates?

We are using AWS ACM PCA. (amazon private certificate authority) so we cannot change it out.

https://twitter.com/BRIAN_____/status/1120444606041284608

It looks like AWS will probably fix this. Let's just wait for them to do so, and then you can re-issue your certificates properly encoded. If you need a workaround in the interim, and you have a budget, please email me at brian@briansmith.org.

Has AWS not fixed this yet?

Just to be clear, I'm happy to ship a workaround for this if there's somebody to sponsor it financially. It isn't as simple as merging your patch.

@briansmith I just checked this today and AWS has fixed this. I appreciate the help and time you spent on this issue. Feel free to close this and the associated PR.

Thanks for reporting back!

@codeman9 Could you please tell us which software was used to generate the *CSR* that was sent to the AWS service? We have a theory that the tool that makes the CSR encoded it wrongly. and AWS copied that wrong encoding into the certificate.

The CSR was created by the linkerd2 control plane here: https://github.com/linkerd/linkerd2/blob/24bbd7c64b8b9f6d20b4544ed077143d61ce6815/pkg/tls/ca.go#L164 and this uses the x509 package from golang version 1.11.6

Thanks @codeman9.